@media screen and (max-width: 991px) {
	.sidebar-offcanvas {
		visibility: hidden;
		opacity: 0;
		transition: 0.3s;
	}
	.offcanvas-visible {
		visibility: visible;
		opacity: 1;
	}

	html, body {
		overflow-x: hidden;
		/*height: 100% !important;*/
	}
	.row-offcanvas {
	position: relative;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	}
	.row-offcanvas-right {
	right: 0;
	}
	.row-offcanvas-left {
	left: 0;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
    right: -40.5%;
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
	left: -51.8%;
	}
	.row-offcanvas-right.active {
    right: 42%;
	}
	.row-offcanvas-left.active {
	left: 51.8%;
	}
	.sidebar-offcanvas {
	position: absolute;
	top: 0;
	width: 36%;
	}
}

@media screen and (max-width: 880px) {
	html, body {
		overflow-x: hidden;
	}
	.row-offcanvas {
	position: relative;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	}
	.row-offcanvas-right {
	right: 0;
	}
	.row-offcanvas-left {
	left: 0;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
    right: -40.5%;
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
	left: -51.8%;
	}
	.row-offcanvas-right.active {
    right: 42%;
	}
	.row-offcanvas-left.active {
	left: 51.8%;
	}
	.sidebar-offcanvas {
	position: absolute;
	top: 0;
	width: 38%;
	}
}

@media screen and (max-width: 825px) {
	html, body {
		overflow-x: hidden;
	}
	.row-offcanvas {
	position: relative;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	}
	.row-offcanvas-right {
	right: 0;
	}
	.row-offcanvas-left {
	left: 0;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
    right: -50%;
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
	left: -51.8%;
	}
	.row-offcanvas-right.active {
    right: 52.2%;
	}
	.row-offcanvas-left.active {
	left: 51.8%;
	}
	.sidebar-offcanvas {
	position: absolute;
	top: 0;
	width: 45%;
	}
}

@media screen and (max-width: 711px) {
	html, body {
		overflow-x: hidden;
	}
	.row-offcanvas {
	position: relative;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	}
	.row-offcanvas-right {
	right: 0;
	}
	.row-offcanvas-left {
	left: 0;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
    right: -54%;
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
	left: -51.8%;
	}
	.row-offcanvas-right.active {
    right: 56.7%;
	}
	.row-offcanvas-left.active {
	left: 51.8%;
	}
	.sidebar-offcanvas {
	position: absolute;
	top: 0;
    width: 48%;
	}
}

@media screen and (max-width: 661px) {
	html, body {
		overflow-x: hidden;
	}
	.row-offcanvas {
	position: relative;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	}
	.row-offcanvas-right {
	right: 0;
	}
	.row-offcanvas-left {
	left: 0;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
    right: -70%;
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
	left: -51.8%;
	}
	.row-offcanvas-right.active {
    right: 74.7%;
	}
	.row-offcanvas-left.active {
	left: 51.8%;
	}
	.sidebar-offcanvas {
	position: absolute;
	top: 0;
    width: 61%;
	}
}

@media screen and (max-width: 522px) {
	html, body {
		overflow-x: hidden;
	}
	.row-offcanvas {
	position: relative;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	}
	.row-offcanvas-right {
	right: 0;
	}
	.row-offcanvas-left {
	left: 0;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
	right: -90%;
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
	left: -51.8%;
	}
	.row-offcanvas-right.active {
    right: 98.2%;
	}
	.row-offcanvas-left.active {
	left: 51.8%;
	}
	.sidebar-offcanvas {
	position: absolute;
	top: 0;
    width: 83%;
	}
}

@media screen and (max-width: 391px) {
	html, body {
		overflow-x: hidden;
	}
	.row-offcanvas {
	position: relative;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	}
	.row-offcanvas-right {
	right: 0;
	}
	.row-offcanvas-left {
	left: 0;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
	right: -96%;
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
	left: -51.8%;
	}
	.row-offcanvas-right.active {
    right: 107.2%;
	}
	.row-offcanvas-left.active {
	left: 51.8%;
	}
	.sidebar-offcanvas {
	position: absolute;
	top: 0;
	width: 101%;
	}
}